*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    background: url(./img/banner1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    display: flex;
    width: 100%;
    overflow-x: hidden;
    flex-direction: column;
}

.banner{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

.banner h3{
    display: flex;
    font-size: 2rem;
    justify-content: center;
}

.banner p{
    margin-top: 10px;
    font-size: 1.5rem;
}

.cta{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
    align-items: center;
}

.cta button{
    padding: 20px;
    width: 10%;
    margin-right: 30px;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 500;
}

#login{
    background: #3380e4;
}

#login:hover{
    background: #5b8bca;
}

#register{
    background: #e0504b;
}

#register:hover{
    background: #dd7b77;
}
@media(max-width:319px){
    .container{
        display: flex;
        width: 100%;
        overflow-x: hidden;
        flex-direction: column;
        height: auto;
    }
    
    .banner{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-top: 100px;
        text-align: center;
    }
    .cta{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-left: 20px;
        align-items: center;
        flex-direction: column;
    }
    
    .cta button{
        padding: 20px;
        width: 50%;
        justify-content: center;
        margin-top: 20px;
        color: #fff;
        outline: none;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        text-transform: uppercase;
    }
}

@media(min-width:320px) and (max-width:480px){
    .container{
        display: flex;
        width: 100%;
        overflow-x: hidden;
        flex-direction: column;
        height: auto;
    }
    
    .banner{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-top: 100px;
        text-align: center;
    }
    .cta{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-left: 20px;
        align-items: center;
        flex-direction: column;
    }
    
    .cta button{
        padding: 20px;
        width: 50%;
        justify-content: center;
        margin-top: 20px;
        color: #fff;
        outline: none;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        text-transform: uppercase;
    }
}

@media(min-width:481px) and (max-width:768px){
    .container{
        display: flex;
        width: 100%;
        overflow-x: hidden;
        flex-direction: column;
        height: auto;
    }
    
    .banner{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-top: 100px;
        text-align: center;
    }
    .cta{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-left: 20px;
        align-items: center;
        flex-direction: column;
    }
    
    .cta button{
        padding: 20px;
        width: 50%;
        justify-content: center;
        margin-top: 20px;
        color: #fff;
        outline: none;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        text-transform: uppercase;
    }
}