*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html{
      scroll-behavior: smooth;
  }
  
  body{
    font-family: 'Roboto', sans-serif;
  }
  
  .container{
    display: flex;
    width: 100%;
    flex-direction: column;
    overflow-x: hidden;
  }
  
  header{
    padding: 20px;
    width: 100%;
  }
  
  .contents{
    background: rgb(63, 141, 231);
    display: flex;
  flex-direction: column;
  }
  
  .heading{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
  }
  
  .heading h3{
    margin-left: 50px;
    color: #fff;
    width: 30%;
    text-align: center;
  }
  
  .heading a{
    background: #0feb84;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    border-radius: 10px;
  }
  
  .reward{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  
  .image img{
    display: flex;
    margin-left: 100px;
  }
  
  .r-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    align-items: center;
    margin-right: 50px;
  }
  
  .r-text >h3{
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 2em;
    color: #dcf02d;
    margin-top: 30px;
  }
  
  .r-text >span{
    border: 1px solid rgb(15, 22, 53);
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .sub-text{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 30px;
  }
  
  #sub{
    border: none;
    padding: 5px;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    background: linear-gradient(to bottom, #fff, #d84b4b);
  }
  
  .sub-text >ul{
    display: flex;
    flex-direction: column;
    color: #fff;
  }
  
  .sub-text >ul li{
    display: flex;
    padding-top: 5px;
    font-size: 1.2em;
    font-weight: 700;
  }
  
  .sub-text >ul li i{
    border: 3px solid #fff;
    border-radius: 50%;
    padding: 3px;
    font-size: 1rem;
    margin-right: 10px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
  .table{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    color: #fff;
    width: 50%;
    align-items: center;
  }
  
  .tbody{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px;
  }
  
  .points{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    margin-left: 100px;
  }
  
  .points p{
    display: flex;
    margin-left: 60px;
  }
  
  .points span{
    margin-top: 10px;
    border: 1px solid rgb(15, 22, 53);
    width: 30%;
  }
  
  .points form{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
  }
  
  .input{
    display: flex;
    width: 50%;
  }
  
  .input input{
    display: flex;
    width: 50%;
    padding: 8px;
    outline: none;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
  }
  
  #countries{
    width: 12%;
    outline: none;
    border: none;
    border-radius: 5px;
  }
  
  #button{
    margin-top: 20px;
    padding: 15px;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-weight: 700;
    background: linear-gradient(to bottom, rgb(207, 206, 206), #e05656);
    cursor: pointer;
    margin-bottom: 30px;
  }
  
  /* footer */
  #footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  
  .icons{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .icons i{
    display: flex;
    padding: 15px;
    font-size: 2rem;
    cursor: pointer;
  }
  
  .links{
    display: flex;
    margin-top: 10px;
  }
  
  .links li{
    list-style: none;
    padding: 10px;
  }
  
  
  
  