body{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    background: url(../img/banner1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 1rem;
}

.container{
    display: flex;
    width: 100%;
    flex-direction: column;
    overflow-x: hidden;
}

.profile-pic{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-top: 50px;
}

.profile-pic i{
    font-size: 5rem;
    cursor: pointer;
}

.user-details{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-top: 60px;
}

.details{
    display: flex;
    justify-content: space-between;
    width: 50%;
    align-items: center;
}

.details p input{
    border: none;
    outline: none;
    padding: 10px;
    width: 80%;
    font-weight: 500;
    background: none;
    color: #fff;
    font-size: 1rem;
}

#save{
    margin-top: 20px;
    width: 10%;
    padding: 10px;
    border: none;
    outline: none;
    cursor: pointer;
}

/* mobile responsiveness */

@media(max-width: 319px){

    .container{
        display: flex;
        width: 100%;
        flex-direction: column;
        overflow-x: hidden;
    }
    
    .profile-pic{
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 50px;
        margin: auto;
    }
    
    .profile-pic i{
        font-size: 5rem;
        cursor: pointer;
    }
    
    .user-details{
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        margin-top: 60px;
        width: 100%;
    }
    
    .details{
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }
    
    .details p input{
        border: none;
        outline: none;
        padding: 10px;
        width: 80%;
        font-weight: 500;
        background: none;
        color: #fff;
        font-size: 1rem;
    }
    
    #save{
        margin-top: 20px;
        width: 30%;
        padding: 10px;
        border: none;
        outline: none;
        cursor: pointer;
    }
}


@media(min-width: 320px) and (max-width:480px){

    .container{
        display: flex;
        width: 100%;
        flex-direction: column;
        overflow-x: hidden;
    }
    
    .profile-pic{
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 50px;
        margin: auto;
    }
    
    .profile-pic i{
        font-size: 5rem;
        cursor: pointer;
    }
    
    .user-details{
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        margin-top: 60px;
        width: 100%;
    }
    
    .details{
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }
    
    .details p input{
        border: none;
        outline: none;
        padding: 10px;
        width: 80%;
        font-weight: 500;
        background: none;
        color: #fff;
        font-size: 1rem;
    }
    
    #save{
        margin-top: 20px;
        width: 30%;
        padding: 10px;
        border: none;
        outline: none;
        cursor: pointer;
    }
}


@media(min-width: 481px) and (max-width:768px){

    .container{
        display: flex;
        width: 100%;
        flex-direction: column;
        overflow-x: hidden;
    }
    
    .profile-pic{
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 50px;
        margin: auto;
    }
    
    .profile-pic i{
        font-size: 5rem;
        cursor: pointer;
    }
    
    .user-details{
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        margin-top: 60px;
        width: 100%;
    }
    
    .details{
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }
    
    .details p input{
        border: none;
        outline: none;
        padding: 10px;
        width: 80%;
        font-weight: 500;
        background: none;
        color: #fff;
        font-size: 1rem;
    }
    
    #save{
        margin-top: 20px;
        width: 30%;
        padding: 10px;
        border: none;
        outline: none;
        cursor: pointer;
    }
}